body{
    background-color: rgba(255, 255, 255, 1);
    margin: 0%;
    padding: 0%;
    font-family: Inter Display;

}
$maincolor:rgba(80, 72, 239, 1);
$greybackground: rgba(229, 229, 229, 1);
$blackbackground: rgba(60, 65, 76, 1);
$goldbackground: rgba(242, 169, 90, 1);
$bluebackground: rgba(0, 129, 254, 1);
$whitebackground: rgba(255, 255, 255, 1);
$purplebackground : rgba(80, 72, 239, 1)
