body {
  background-color: rgb(255, 255, 255);
  margin: 0%;
  padding: 0%;
  font-family: "Inter Tight";
}

a {
  text-decoration: none;
}

.CertificateGenerator {
  height: 100vh;
}

.CertificateGenerator, .greyBackground, .howitworks, .whyReward, .certificateTemplate {
  background-image: url(../pics/Ellipse.png);
  text-align: center;
  background-repeat: no-repeat;
  background-position: 110% -42px;
  margin: 0 2px;
  background-size: 255.1px;
  padding: 34px 10px;
}

.certificateTemplate {
  color: rgb(80, 72, 239);
}

.Instant {
  margin: 5px;
  padding: 2px;
}
.Instant h1 {
  font-weight: 500;
  font-size: 44px;
  color: rgb(80, 72, 239);
}
.Instant p {
  color: rgb(60, 65, 76);
  line-height: 29px;
}
.Instant button {
  background-color: rgb(80, 72, 239);
  border: 1px solid rgb(80, 72, 239);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 12px;
}

.laptop img {
  width: 85vw;
  padding: 24px 2px;
}

.greyBackground {
  background-color: rgb(229, 229, 229);
  justify-items: center;
  height: 100%;
}

.circle {
  border: 2px solid rgb(242, 169, 90);
  border-radius: 340px;
  width: 305px;
  height: 305px;
  background-image: url(../pics/certificate1.svg);
  background-repeat: no-repeat;
  background-position: 48px 12px;
  background-color: white;
}

.why {
  width: 50%;
}
.why h1 {
  color: rgb(80, 72, 239);
}
.why h1 span {
  color: rgb(242, 169, 90);
}
.why p {
  color: rgb(60, 65, 76);
  line-height: 29px;
}
.why button {
  background-color: rgb(80, 72, 239);
  border: 1px solid rgb(80, 72, 239);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 12px;
}

.howitworks {
  padding: 23px 36px;
}
.howitworks h1 {
  color: rgb(80, 72, 239);
}

.choosetemplate, .designtemplate, .generatetemplate, .downloadShare {
  display: flex;
  flex-direction: column;
  padding: 15px 5px;
}
.choosetemplate h2, .designtemplate h2, .generatetemplate h2, .downloadShare h2 {
  color: rgb(80, 72, 239);
}

.designtemplate, .downloadShare {
  flex-direction: column-reverse;
}

.whyReward {
  background-color: rgb(229, 229, 229);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.whyReward h1 {
  color: rgb(80, 72, 239);
}

.recognise, .boost, .build {
  border-radius: 12px;
  box-shadow: 1px 0px 4px grey;
  width: 250px;
  padding: 22px;
  margin: 15px;
  background: rgb(255, 255, 255);
}
.recognise h2, .boost h2, .build h2 {
  font-weight: 400;
}
.recognise p, .boost p, .build p {
  color: rgb(60, 65, 76);
  line-height: 29px;
}

.fallen {
  background-color: rgb(242, 169, 90);
  text-align: center;
  color: rgb(255, 255, 255);
  padding: 12px;
}
.fallen h1 {
  font-weight: 400;
}
.fallen button {
  background-color: rgb(80, 72, 239);
  border: 1px solid rgb(80, 72, 239);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  padding: 12px;
}

@media screen and (min-width: 850px) {
  .CertificateGenerator, .greyBackground {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }
  .Instant {
    padding: 4px 23px;
    text-align: left;
  }
  .laptop img {
    width: 446px;
  }
  .choosetemplate, .designtemplate, .generatetemplate, .downloadShare {
    display: flex;
    flex-direction: row;
    padding: 50px 5px;
    text-align: left;
    align-items: center;
  }
  .choosetemplate div, .designtemplate div, .generatetemplate div, .downloadShare div {
    width: 50%;
    padding: 2px 10px;
    color: rgb(60, 65, 76);
    line-height: 29px;
    text-align: left;
  }
  .sectionbox {
    display: flex;
    align-items: center;
  }
  .sectionbox div {
    width: 24vw;
  }
}/*# sourceMappingURL=home.css.map */