@import '../styles/global.scss';

.CertificateGenerator{
    height: 100vh;
}

.CertificateGenerator, .greyBackground, .howitworks, .whyReward, .certificateTemplate{

   
   background-image: url(../pics/Ellipse.png);
    text-align: center;
    background-repeat: no-repeat;
    background-position: 110% -42px;
    margin: 0 2px;
    background-size: 255.1px;
    padding: 34px 10px;
    
    
}
.certificateTemplate{
    @include heading;
}
.Instant{
    margin: 5px;
    padding: 2px;
    h1{
        font-weight: 500;
        font-size: 44px;
        color: $purplebackground;
    }
   p{
     @include paragraph
   }
   button{
    @include button;
   }

}
.laptop{
    img{
        width: 85vw;
        padding: 24px 2px;
    }
}
.greyBackground{
    background-color: $greybackground;
    justify-items: center;
    height: 100%;
}
.circle{
    border: 2px solid rgb(242, 169, 90);
    border-radius: 340px;
    width: 305px;
    height: 305px;
    background-image: url(../pics/certificate1.svg);
    background-repeat: no-repeat;
    background-position: 48px 12px;
    background-color: white;
}
.why{
    width: 50%;
    h1{
      color: $purplebackground;
      span{
        color: $goldbackground;
      }
    }
    p{
      @include paragraph
    }
    button{
        @include button
    }
}
.howitworks{
    padding: 23px 36px;

    h1{
        @include heading
    }
}

.choosetemplate, .designtemplate, .generatetemplate, .downloadShare{
   display: flex;
   flex-direction: column;
   padding: 15px 5px;
    h2{
        @include heading
    }
}
.designtemplate ,.downloadShare{
    flex-direction: column-reverse;
}
.whyReward{
background-color: $greybackground;
display: flex;
flex-direction: column;
align-items: center;
 h1{
    @include heading
 }
}
.recognise, .boost, .build {
    border-radius: 12px;
    box-shadow: 1px 0px 4px grey;
    width: 250px;
    padding: 22px;
    margin: 15px;
    background: $whitebackground;
    h2{
       font-weight: 400;
    }
    p{
        @include paragraph
    }
}
 .fallen{
    background-color: $goldbackground;
    text-align: center;
   
    color: $whitebackground;
    padding: 12px;
    h1{
        font-weight: 400;
    }
    button{
        @include button
    }
 }
@media screen and (min-width:850px) {
    .CertificateGenerator, .greyBackground{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        
    }
    .Instant{
        padding: 4px 23px;
        text-align: left;
    }
    .laptop img {
        width: 446px;
    }
   
    .choosetemplate, .designtemplate, .generatetemplate, .downloadShare{
        display: flex;
        flex-direction: row;
        padding: 50px 5px;
        text-align: left;
        align-items: center;
        div{
            width: 50%;
            padding: 2px 10px;
                @include paragraph;
                text-align: left;
              
        
        }
       
     }
    .sectionbox{
        display: flex;
      align-items: center;
      div{
        width: 24vw;
      }
    }
  
}